.divButton {
    display: flex;
    justify-content: center;
}

.buttonPassword {
    border-style: none;
    background-color: #3590F5;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
}